**/out
**/.vs
**/.idea
**/.vscode
/cmake-build-*
/Bin
/data
/CMakeSettings.json
/test/test.cpp
/test/test.cpp.*
/build
**/*.log
**/*.exe
**/*.rar
**/*.zip
**/*.xml
**/*.geojson
**/*.shp
**/*.dbf
**/*.shx
**/*.sbx
**/*.cpg
**/*.prj
**/*.sbn
**/*.qml
**/*.qgz
**/tmp
**/bak
**/BAK
**/*.dmp
/docs/NYNL*
/su/su_config.h


