/out
/.vs
/.idea
/cmake-build-*
/Bin
/data
/CMakeSettings.json
/third_party
/cmake-*
/test/test_main.cpp
/build
/test/test.cpp
/lucenepp/include/lucenepp/LPPConfig.h
/lucenepp/include/config_h/LPPConfig.h
